DB_SERVER=yer_server_name
DB_NAME=yer_database_name
DB_USER=yer_database_user_name
DB_PASSWORD=yer_database_password

SITE=1
AUTOMATED_USER_ID=9999
RUN_LOCAL=1
AUTO_NOT_SCHEDULED=0
CLIENT_ID=your-microsoft-application-client-id
AUTHORITY=https://login.microsoftonline.com/organizations
SCOPES=Files.Read
DEST_DIR=C:\TEST
LOG_LEVEL_REFRESHLOGGER=INFO
LOG_LEVEL_IMPORTLOGGER=INFO
LOG_LEVEL_SCHEDULELOGGER=INFO
LOG_LEVEL_SCHEDULEPROCESSORLOGGER=INFO
LOG_LEVEL_SCHEDULERUNLOGGER=INFO
LOG_LEVEL_TASKIDLINKLOGGER=INFO
LOG_LEVEL_TASKNAMELINKLOGGER=INFO
LOG_LEVEL_TASKLOGGER=INFO