#DB Stuff
DB_SERVER=svr
DB_NAME=db
DB_USER=user
DB_PASSWORD=password

#SharePoint Authentication
CLIENT_ID=7b2e91d4-6a3c-4f08-b5e7-2d9c1a64f830
AUTHORITY=https://login.microsoftonline.com/organizations
SCOPES=Files.Read

# Site Level Settings
SITE=1
AUTOMATED_USER_ID=9999
AUTO_NOT_SCHEDULED=0

# Logging Levels
LOG_LEVEL_REFRESHLOGGER=INFO
LOG_LEVEL_IMPORTLOGGER=INFO
LOG_LEVEL_SCHEDULELOGGER=INFO
LOG_LEVEL_SCHEDULEPROCESSORLOGGER=INFO
LOG_LEVEL_SCHEDULERUNLOGGER=INFO
LOG_LEVEL_TASKIDLINKLOGGER=INFO
LOG_LEVEL_TASKNAMELINKLOGGER=INFO
LOG_LEVEL_TASKLOGGER=INFO

# Mostly used for testing and debugging.
# 1 creates a local run entry and waits for confirmation before exit
# 0 processes the scheduled run and closes Excel if Excel is already running
RUN_LOCAL=1